<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="form-group">
      <%= form_for(branch) do |f| %>

        <div class="form-group">
          <% if branch.errors[:name].any? %>
            <%= f.label :name, t('branch.name'), class: 'control-label'%>
            <%= f.text_field :name , class: 'form-control is-invalid' %>
            <p class="form-error"><%= branch.errors[:name][0].capitalize %></p>
          <% else %>
            <%= f.label :name, t('branch.name'), class: 'control-label' %>
            <%= f.text_field :name , class: 'form-control' %>
          <% end %>
        </div>

        <div class="form-group">
          <% if branch.errors[:address].any? %>
            <%= f.label :address, t('branch.address'), class: 'control-label'%>
            <%= f.text_area :address , class: 'form-control is-invalid' %>
            <p class="form-error"><%= branch.errors[:address][0].capitalize %></p>
          <% else %>
            <%= f.label :address, t('branch.address'), class: 'control-label' %>
            <%= f.text_area :address , class: 'form-control' %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label "#{t('branch.cover')}" %>
          <%= f.file_field :image, id: "file-input", hidden: true, onchange: "readURL(this)" %>
        </div>

        <div class="voffset2"></div>

        <label for="file-input">
          <% if branch.image.attached? %>
            <%= image_tag branch.image, class: "img-rounded", size: "300x300", id: 'img_prev' %>
          <% else %>
            <%= image_tag 'question.png', size: "300x300", id: 'img_prev'%>
          <% end %>
        </label>

        <div class="voffset2"></div>

        <div class="actions pull-right">
          <%= button_tag(type: "submit", class: "btn btn-primary", data: { confirm: t('basic.submitconfirm') }) do %>
            <i class="fa fa-save"></i>
          <% end %>

          <%= link_to branches_path, class: 'btn btn-danger' do %>
            <i class="fa fa-undo"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev')
          .attr('src', e.target.result)
          .width(300)
          .height(300);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
