<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @machigainaoshi.item %>
</p>

<p>
  <strong>Product:</strong>
  <%= @machigainaoshi.product %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @machigainaoshi.branch %>
</p>

<p>
  <strong>Nybo:</strong>
  <%= @machigainaoshi.nybo_id %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @machigainaoshi.seller_id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @machigainaoshi.admin_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @machigainaoshi.amount %>
</p>

<p>
  <strong>Pre stat:</strong>
  <%= @machigainaoshi.pre_stat %>
</p>

<p>
  <strong>Check:</strong>
  <%= @machigainaoshi.check %>
</p>

<p>
  <strong>Note:</strong>
  <%= @machigainaoshi.note %>
</p>

<%= link_to 'Edit', edit_machigainaoshi_path(@machigainaoshi) %> |
<%= link_to 'Back', machigainaoshis_path %>
