<div class="row">
  <div class="col-lg-6 col-md-12 col-xs-12">
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables">
      <tr>
        <td><strong><%= t('item.name') %></strong></td>
        <td>
          <%= @item.name %>
          <hr>
          <%= @item.name_mn %>
        </td>
      </tr>
      <tr>
        <td><strong><%= t('item.subcat') %></strong></td>
        <td>
          <%= link_to @item.subcategory do %>
            <i class="fa fa-folder-open"></i>
            <%= @item.subcategory.name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong><%= t('item.price') %></strong></td>
        <td>
          <% if @item.currency.currency_name == 'tugrug' %>
            <%= @item.price %> <%= @item.currency.name %>
          <% elsif @item.currency.currency_name == 'dollar' %>
            <%= @item.price %> <%= @item.currency.name %>
          <% else %>
            <%= @item.price %> <%= @item.currency.name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong><%= t('item.maxp') %></strong></td>
        <td>
          <% if @item.currency.currency_name == 'tugrug' %>
            <%= @item.maxp %> <%= @item.currency.name %>
          <% elsif @item.currency.currency_name == 'dollar' %>
            <%= @item.maxp %> <%= @item.currency.name %>
          <% else %>
            <%= @item.maxp %> <%= @item.currency.name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong><%= t('item.minp') %></strong></td>
        <td>
          <% if @item.currency.currency_name == 'tugrug' %>
            <%= @item.minp %> <%= @item.currency.name %>
          <% elsif @item.currency.currency_name == 'dollar' %>
            <%= @item.minp %> <%= @item.currency.name %>
          <% else %>
            <%= @item.minp %> <%= @item.currency.name %>
          <% end %>
        </td>
      </tr>
      <% if @item.special_flag %>
        <tr>
          <td><strong><%= t('item.specialp') %></strong></td>
          <td>
            <% if @item.currency.currency_name == 'tugrug' %>
              <%= @item.specialp %> <%= @item.currency.name %>
            <% elsif @item.currency.currency_name == 'dollar' %>
              <%= @item.specialp %> <%= @item.currency.name %>
            <% else %>
              <%= @item.specialp %> <%= @item.currency.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><strong><%= t('item.minimum') %></strong></td>
        <td>
          <%= @item.minimum %>
        </td>
      </tr>
      <tr>
        <td><strong><%= t('item.bar') %></strong></td>
        <td><%= @item.bar %></td>
      </tr>
      <tr>
        <td><strong><%= t('item.statuss') %></strong></td>
        <td><%= @item.status.mn %></td>
      </tr>
      <tr>
        <td><strong><%= t('item.spec') %></strong></td>
        <td><pre><%= @item.spec %></pre></td>
      </tr>
      <tr>
        <td><p><strong><%= t('item.cover') %></strong></p></td>
        <td>
          <% if @item.image.attached? %>
            <%= image_tag @item.image, size: "200x200" %>
          <% else %>
            <%= image_tag 'question.png', size: "200x200" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
