<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
          <% if @item.image.attached? %>
            <%= image_tag @item.image, size: "60x60" %>
            <%= @item.name %>
                |
            <%= link_to @item.subcategory do %>
                <i class="fa fa-folder-open"></i>
                <%= @item.subcategory.name %>
            <% end %>
          <% else %>
            <%= image_tag 'question.png', size: "60x60" %>
            <%= @item.name %>
                |
            <%= link_to @item.subcategory do %>
                <i class="fa fa-folder-open"></i>
                <%= @item.subcategory.name %>
            <% end %>
          <% end %>
        </h1>
    </div>
    <div class="col-lg-12">
        <%= link_to :back, class: 'btn btn-danger pull-right', style: 'margin-left: 20px;' do %>
            <i class="fa fa-undo"></i> |
            <%= t('subcat.back') %>
        <% end %>

        <%= link_to edit_item_path(@item), class: 'btn btn-primary pull-right' do %>
            <i class="fa fa-pencil"></i> |
            <%= t('item.edit') %>
        <% end %>
    </div>
</div>

<div class="voffset4"></div>

<% if current_user.role.en == "seller" %>
    <%= render 'detail2' %>
<% else %>
    <%= render 'detail' %>
<% end %>
