<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @factoryreturn.item %>
</p>

<p>
  <strong>Sent:</strong>
  <%= @factoryreturn.sent %>
</p>

<p>
  <strong>Datesent:</strong>
  <%= @factoryreturn.datesent %>
</p>

<p>
  <strong>Reced:</strong>
  <%= @factoryreturn.reced %>
</p>

<p>
  <strong>Detarec:</strong>
  <%= @factoryreturn.detarec %>
</p>

<p>
  <strong>Gave:</strong>
  <%= @factoryreturn.gave %>
</p>

<p>
  <strong>Dategave:</strong>
  <%= @factoryreturn.dategave %>
</p>

<p>
  <strong>Note:</strong>
  <%= @factoryreturn.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @factoryreturn.user_id %>
</p>

<p>
  <strong>From:</strong>
  <%= @factoryreturn.from %>
</p>

<%= link_to 'Edit', edit_factoryreturn_path(@factoryreturn) %> |
<%= link_to 'Back', factoryreturns_path %>
