<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"><i class="fa fa-folder"></i> <%= t('category.category') %></h1>
  <%= link_to new_category_path, class: "btn btn-primary pull-right" do %>
    <i class="fa fa-plus"></i>
  <% end %>
</div>

<% if @categories.any? %>
  <div class="row">
    <% p = 0 %>
    <% @categories.each do |category| %>
      <div class="col-lg-2 col-md-4 col-xs-12 text-center">
        <%= link_to category do %>

          <div>
            <h4>
              <%= category.name %>
            </h4>
          </div>
          <% if category.image.attached? %>
            <div>
              <%= image_tag category.image, class: "img-rounded", style: "max-width: 100%" %>
            </div>
          <% else %>
            <div>
              <%= image_tag 'question.png', class: "row-fit",  width: '100%', height: '100%' %>
            </div>
          <% end %>

        <% end %>
      </div>
      <% p += 1 %>
      <% if p%6 == 0 %>
        <div class="clearfix"></div>
      <%end %>
    <% end %>
  </div>
<% else %>
  <%= t('basic.no_content') %>
<% end %>
